@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300&display=swap'); 
 
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Your Custom CSS Goes here*/
    font-family: 'Bebas Neue', cursive;

    font-family: 'Oswald', sans-serif;
    
    
/* Daisy UI default variable overrides */
:root {
  --rounded-box: 1rem;        /* border-radius for cards and other big elements */
  --rounded-btn: 0.5rem;      /* border-radius for buttons and similar elements */
  --rounded-badge: 1.9rem;    /* border-radius for badge and other small elements */

  --animation-btn: 0.25s;     /* bounce animation time for button */
  --animation-input: 0.2s;     /* bounce animation time for checkbox, toggle, etc */

  --padding-card: 2rem;       /* default card-body padding */

  --btn-text-case: uppercase; /* default text case for buttons */
  --navbar-padding: 0.5rem;    /* default padding for navbar */
  --border-btn: 2px;          /* default border size for button */
}

h1 {
  @apply text-4xl tracking-tighter text-center lg:text-7xl;
}
h2{
  @apply text-3xl tracking-normal font-bold;
}

h3 {
  @apply text-2xl font-bold;
}
.body-link{
  @apply underline text-secondary;
}
code{
  @apply bg-gray-300;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.footer-link{
  @apply no-underline text-white hover:text-secondary transition-all duration-200;
}

.sponsor-logos{
  @apply h-10 mx-16 px-6 inline-flex w-48
}



.hide-scroll {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}

.admin-header-title{
  @apply text-4xl text-center font-bold text-blueGray-700 font-admin-display tracking-wider mx-4 my-2;
}

.login-box{
  @apply bg-blueGray-800 p-12 container mx-auto rounded-lg shadow-lg w-1/3 space-y-6 text-white bg-opacity-60;
}

.login-form-group{
  @apply relative flex w-full justify-center;
  & > span, .login-form-field{
    @apply whitespace-nowrap block;

    &:not(:first-child):not(:last-child){
      @apply rounded-none;
    }
    &:first-child{
      @apply rounded-l-full;
    }
    &:last-child{
      @apply rounded-r-full;
    }
    &:not(:first-child){
      @apply -ml-1;
    }
  }
.login-form-field{
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
  @apply rounded-l-full pl-3;
}
& > span {
  @apply text-center leading-6 text-blueGray-700 bg-white border-solid rounded-r-full;
  border: 1px;
  font-size: 14px;
  padding: 8px 12px;
  transition: background .3s ease, border .3 ease, color .3s ease;
}
&:focus-within{
  @apply text-blueGray-700 border-none ;
  & > span{
    @apply bg-blueGray-400 border-slate-500 text-white;
  }
}
}
